<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
# 안녕
# Hi 출력

안녕
Hi

In [2]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
# 7
# 15 출력

7
15

In [3]:
# 213
def 함수(문자열) :
    print(문자열)


함수() # 문자열이 없음

TypeError: ignored

In [5]:
# 214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3) # str과 int가 혼용

TypeError: ignored

In [12]:
# 215
def print_with_smile():
  a = input("문자를 입력하세요: ")
  print(a, ":D")
print_with_smile()

문자를 입력하세요: 안녕
안녕 :D

In [13]:
# 216
print_with_smile()

문자를 입력하세요: 안녕하세요
안녕하세요 :D

In [16]:
# 217
def print_upper_price():
  a = int(input("가격을 입력하세요: "))
  print("상한가", a + a * 0.3)
print_upper_price()

가격을 입력하세요: 1000
상한가 1300.0

In [17]:
# 218
def print_sum():
  a = int(input("첫번째 숫자를 입력하세요: "))
  b = int(input("두번째 숫자를 입력하세요: "))
  print(a + b)
print_sum()

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 20
30

In [22]:
# 219
def print_arithmetic_opration(a, b):
#  a = int(input("첫번째 숫자를 입력하세요: "))
#  b = int(input("두번째 숫자를 입력하세요: "))
  print(a, "+", b, "=", a + b)
  print(a, "-", b, "=", a - b)
  print(a, "*", b, "=", a * b)
  print(a, "/", b, "=", a / b)
print_arithmetic_opration(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [17]:
# 220
def print_max(a, b, c):
#  if a > b and a > c:
#    print(a)
#  elif b > a and b > c:
#    print(b)
#  else:
#    print(c)
  d = 0
  if a > d:
    d = a
  if b > d:
    d = b
  if c > d:
    d = c
  print(d)    
print_max(10, 20, 30)

30

In [24]:
# 221
def print_reverse(a):
  print(a[::-1])
print_reverse("python")

nohtyp

In [1]:
# 222
def print_score(a):
  print(sum(a) /len(a))
print_score([1, 2, 3])

2.0

In [38]:
# 223
def print_even(a):
  for i in a:
    if i % 2 == 0:
      print(i)
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [45]:
# 224
def print_keys(a):
  for i in a.keys():
   print(i)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [2]:
# 225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(a, b):
#  for i in my_dict.keys():
#    if i == b:
#      print(my_dict[b])
    print(a[b])
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [14]:
# 226
def print_5xn(a):
  b = int(len(a) / 5)
  for i in range(b + 1):
   print(a[i * 5: i * 5 + 5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [16]:
# 227
def print_mxn(a, b):
  c = int(len(a)/ b)
  for i in range(c + 1):
    print(a[i * b: i * b + b])
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [13]:
# 228
def calc_monthly_salary(a):
#  print(a // 12)
   b = int(a / 12)
   return b
calc_monthly_salary(12000000)

1000000

In [48]:
# 229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
#왼쪽: 100
#오른쪽: 200

왼쪽: 100
오른쪽: 200

In [47]:
# 230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
#왼쪽: 200
#오른쪽: 100

왼쪽: 200
오른쪽: 100