<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 021
letters = 'python'
#print(letter[0,2])
print(letters[0], letters[2])

p t

In [ ]:
# 022
license_plate = "24가 2210"
print(license_plate[3:])

 2210

In [ ]:
# 023
string = "홀짝홀짝홀짝"

#print(string[0],string[2],string[4])
print(string[0]+string[2]+string[4])

홀홀홀

In [ ]:
# 024
string = "PYTHON"

print(string[::-1])

NOHTYP

In [ ]:
# 025
phone_number = "010-1111-2222"
a = phone_number.replace("-"," ")
print(a)

010 1111 2222

In [ ]:
# 026
phone_number = "010-1111-2222"
a = phone_number.replace("-","")
print(a)

01011112222

In [ ]:
# 027
url = "http://sharebook.kr"
print(url[-2:])

kr

In [ ]:
# 028
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: ignored

In [ ]:
# 029
string = 'abcdfe2a354a32a'

string.replace("a","A")
print(string)

a = string.replace("a","A")
print(a)

abcdfe2a354a32a
Abcdfe2A354A32A

In [ ]:
# 030
string = 'abcd'
string.replace('b', 'B')
print(string)

a = string.replace('b', 'B')
print(a)

abcd
aBcd

In [ ]:
# 031
a = "3"
b = "4"
print(a + b)

34

In [ ]:
# 032
print("Hi" * 3)

HiHiHi

In [ ]:
# 033
print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
# 034
#t1 = 'python\t'
#t2 = 'java\t'
#print((t1 + t2) *4)

t1 = 'python'
t2 = 'java'
t3 = (t1 + " " + t2 + " ")
print(t3 *4)

python java python java python java python java

In [ ]:
# 035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

#print("이름: %s 나이: %d" % (name1, age1), "이름: %s 나이: %d" % (name2, age2))
print("이름: %s 나이: %d" % (name1, age1)+ "이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10 이름: 이철희 나이: 13
이름: 김민수 나이: 10이름: 이철희 나이: 13

In [ ]:
# 036
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

#print("이름: {} 나이: {}".format(name1, age1), "이름: {} 나이: {}".format(name2, age2))
print("이름: {} 나이: {}".format(name1, age1)+ "이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10이름: 이철희 나이: 13

In [ ]:
# 037
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

#print(f"이름: {name1} 나이: {age1}", f"이름: {name2} 나이: {age2}")
print(f"이름: {name1} 나이: {age1}"+ f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10이름: 이철희 나이: 13

In [ ]:
# 038
상장주식수 = "5,969,782,550"

a = 상장주식수.replace(",","")
print(a, type(a))

b = int(a)
print(b, type(b))

5969782550 <class 'str'>
5969782550 <class 'int'>

In [ ]:
# 039
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [ ]:
# 040
data = "   삼성전자    "