<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
# 132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [17]:
# 133
#for 변수 in ["A", "B", "C"]:
#   print(변수)

변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [18]:
# 134
#for 변수 in ["A", "B", "C"]:
#  print("출력:", 변수)

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [19]:
# 135
#for 변수 in ["A", "B", "C"]:
#  b = 변수.lower()
#  print("변환:", b)

변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [14]:
# 136
#변수 = 10
#print(변수)
#변수 = 20
#print(변수)
#변수 = 30
#print(변수)

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [23]:
# 137
#print(10)
#print(20)
#print(30)

for i in [10, 20, 30]:
  print(i)

10
20
30

In [25]:
# 138
#print(10)
#print("-------")
#print(20)
#print("-------")
#print(30)
#print("-------")

for i in [10, "-------", 20, "-------", 30, "-------"]:
  print(i)

10
-------
20
-------
30
-------

In [27]:
# 139
#print("++++")
#print(10)
#print(20)
#print(30)

for i in ["++++", 10, 20, 30]:
  print(i)

++++
10
20
30

In [30]:
# 140
#print("-------")
#print("-------")
#print("-------")
#print("-------")

for i in ["-------", "-------", "-------", "-------"]:
  print(i)

-------
-------
-------
-------

In [31]:
# 141
리스트 = [100, 200, 300]
for i in 리스트:
  print(i + 10)

110
210
310

In [32]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [33]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

6
4
4

In [34]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i, len(i))

dog 3
cat 3
parrot 6

In [35]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [37]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
  print(3, "x", i)

3 x 1
3 x 2
3 x 3

In [38]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
  print(3, "x", i, "=", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [73]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1::]:
   print(i)

나
다
라

In [78]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[0::2]:
   print(i)

가
다

In [70]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
  print(i)

라
다
나
가