<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 091
inventory = {"메로나":[300, 20], "비비빅":[400, 2], "죠스바":[250, 100]}

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 2], '죠스바': [250, 100]}

In [59]:
# 092
inventory = {"메로나":[300, 20], "비비빅":[400, 2], "죠스바":[250, 100]}
a = inventory["메로나"]

print(a[0], "원")

300 원

In [60]:
# 093
inventory = {"메로나":[300, 20], "비비빅":[400, 2], "죠스바":[250, 100]}
a = inventory["메로나"]

print(a[1], "개")

20 개

In [22]:
# 094
inventory = {"메로나":[300, 20], "비비빅":[400, 2], "죠스바":[250, 100]}

inventory["월드콘"] = [500, 7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 2], '죠스바': [250, 100], '월드콘': [500, 7]}

In [23]:
# 095
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

print(icecream.keys())

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [24]:
# 096
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

print(icecream.values())

dict_values([1200, 1200, 1800, 1500, 1000])

In [27]:
# 097
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = icecream["탱크보이"] + icecream["폴라포"] + icecream["빵빠레"] + icecream["월드콘"] + icecream["메로나"]

print(a)

6700

In [28]:
# 098
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [51]:
# 099
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

#result = {keys[0]: vals[0], keys[1]: vals[1], keys[2]: vals[2]}
result in zip (keys, vals)

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [53]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

#close_table = {date[0]: close_price[0], date[1]: close_price[1], date[2]: close_price[2], date[3]: close_price[3], date[4]: close_price[4]}
close_table in zip (date, close_price)

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [54]:
# 101
print(type(True))

<class 'bool'>

In [36]:
# 102

print(3 == 5) # false

False

In [37]:
# 103
print(3 < 5) # true

True

In [38]:
# 104
x = 4
print(1< x < 5) # true

True

In [39]:
# 105
print((3 == 3)and (4 !=3))

True

In [42]:
# 106
#print(3 => 4) # => 순서
print(3 >= 4)

False

In [43]:
# 107
if 4 < 3:
  print("Hello World") # 출력없음

In [44]:
# 108
if 4 < 3:
  print("Hello World.")
else:
  print("Hi, there.") # Hi, there. 출력

Hi, there.

In [45]:
# 109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4") # true 값 1,2 조건없는 4 출력

1
2
4

In [46]:
# 110
if True :
if False:
        print("1")
        print("2")
else:
        print("3")
else :
    print("4")
print("5")

IndentationError: ignored