<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 001 
a = ("hello world")
print(a)

hello world

In [ ]:
# 002
a = ("Mary's cosmetics")
print(a)

Mary's cosmetics

In [ ]:
# 003
a = ('신씨가 소리질렀다. "도둑이야".')
print(a)

신씨가 소리질렀다. "도둑이야".

In [ ]:
# 004
a =('"c:/windows"')
print(a)

"c:/windows"

In [ ]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.") #\n 은 줄바꿈  \t는 일정간격 띄우기

안녕하세요.
만나서		반갑습니다.

In [ ]:
# 006
print("오늘은","일요일")

오늘은 일요일

In [ ]:
# 007
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [ ]:
#008
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [ ]:
# 009
print("frist");print("second")
print("frist", end="second")
print("frist", end="");print("second")

frist
second
fristsecondfristsecond

In [ ]:
# 010
a = (5)
b = (3)
print(a/b)

1.6666666666666667

In [ ]:
# 011
삼성전자 = (50000)
print(삼성전자  * 10)

500000
500000

In [ ]:
# 012
시가총액 = ("298조")
현재가 = ("50,000원")
PER = (15.79)

print(시가총액, 현재가, PER)

298조 50,000원 15.79

In [ ]:
# 013
s = ("hello")
t = ("python")
a = ("!\t")

print(s,t, sep="!")
print(s,a,t)
print(s,end = a);print(t)
print(s+"!",t)

hello!python
hello !	 python
hello!	python
hello! python

In [ ]:
# 014
print(2 + 2 * 3)

8

In [ ]:
# 015
a = 132
print(type(a))

<class 'int'>

In [ ]:
from re import A
# 016
num = "720"
print(num, type(num))

a = int(num)
print(a, type(a))

720 <class 'str'>
720 <class 'int'>

In [ ]:
# 017
num = 100
print(num, type(num))

a = str(num)
print(a, type(a))

100 <class 'int'>
100 <class 'str'>

In [ ]:
# 018
a = "15.79"
print(a, type(a))

b = float(a)
print(b, type(b))

15.79 <class 'str'>
15.79 <class 'float'>

In [ ]:
# 019
year = "2020"
print(year, type(year))

a = int(year)
print(a, type(a))
print(a-2, a-1, a)

2020 <class 'str'>
2020 <class 'int'>
2018 2019 2020

In [ ]:
# 020
a = (48584)
b = (36)
c = (a * b)

print(c)
print(a * b)

1749024
1749024