<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 071
my_variable = ()

print(my_variable, type(my_variable))

() <class 'tuple'>

In [ ]:
# 072
movie_rank = ("닥터스트레인지", "스플릿", "럭키")

print(movie_rank)

('닥터스트레인지', '스플릿', '럭키')

In [ ]:
# 073
a = (1,)

print(a, type(a))

(1,) <class 'tuple'>

In [ ]:
# 074
t = (1, 2, 3)
t[0] = 'a'       # 튜플은 변경, 삭제 불가능
Traceback (most recent call last):
  File "<pyshell#46>", line 1,in <module>
    t[0] = 'a'
TypeError: 'tuple' object doesnot support item assignment

In [ ]:
# 075
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

In [ ]:
# 076
t = ('a', 'b', 'c')

#튜플은 변경 불가

In [ ]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)

print(a, type(a))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [ ]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)

print(a, type(a))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [ ]:
# 079
temp = ('apple', 'banana', 'cake')
a, b, c = temp

print(a, b, c)

apple banana cake

In [ ]:
# 080
a = tuple(range(2, 99, 2))

print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
# 081
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
# 082
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
# 083
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores

print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 084
temp = {}

print(temp)

{}

In [ ]:
# 085
a = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
# 086
a = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
a['죠스바'] = 1200
a['월드콘'] = 1500

print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격:',ice['메로나'])

메로나 가격: 1000

In [ ]:
# 088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300

print(ice['메로나'])

1300

In [ ]:
# 089
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']

print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 090
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']  # 대응값이 없음


Traceback (most recent call last):
  File "<pyshell#69>", line 1,in <module>
    icecream['누가바']
KeyError: '누가바'