<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 096
a = [[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
print(a)

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]

In [1]:
# 097
a = [[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
print(a[2][2])

9

In [3]:
# 098
a = [[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
b = int(input("Which row they would like displayed: "))
print(a[b])
c = int(input("Enter a new value: "))
a[b].append(c)
print(a[b])

Which row they would like displayed: 1
[3, 7, 4]
Enter a new value: 5
[3, 7, 4, 5]

In [4]:
# 099
a = [[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
b = int(input("Which row they would like displayed: "))
print(a[b])
c = int(input("Which column in that row want displayed: "))
print(a[b][c])
d = input("If you wnat to change the value: y/n ")
if d == "y":
  e = int(input("Enter s new value: "))
  a[b][c] = e
print(a[b])

Which row they would like displayed: 1
[3, 7, 4]
Which column in that row want displayed: 1
7
If you wnat to change the value: y/n y
Enter s new value: 5
[3, 5, 4]

In [6]:
# 100
a = {"john":{"N":3056, "S":8463, "E":8441, "W":2694}, "Tom":{"N":4832, "S":6786, "E":4737, "W":3612}, "Anne":{"N":5239, "S":4802, "E":5820, "W":1859}, "Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}}
print(a)

{'john': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

In [13]:
# 101
a = {"john":{"N":3056, "S":8463, "E":8441, "W":2694}, "Tom":{"N":4832, "S":6786, "E":4737, "W":3612}, "Anne":{"N":5239, "S":4802, "E":5820, "W":1859}, "Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}}
b = str(input("Enter a name: "))
c = str(input("Enter a region: "))
print(a[b][c])
d = input("You wnat change the data: y/n ")
if d == "y":
  e = int(input("Enter data: "))
  a[b][c] = e
print(a[b])

Enter a name: john
Enter a region: N
3056
You wnat change the data: y/n n
{'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}

In [30]:
# 102
name = []
d = {}
for i in range(4):
 a = input("Enter the name: ")
 name.append(a)
 b = input("Enter a age: ")
 c = input("Enter a shoe size: ")
 d[a] = (b,c)
print(name)
e = str(input("Enter the name of one of the people in the list: "))
print(d[e])

name: ji
age: 33
shoe size: 20
name: im
age: 43
shoe size: 22
['ji', 'im']
name: ji
('33', '20')

In [31]:
# 103
name = []
d = {}
for i in range(4):
 a = input("Enter the name: ")
 name.append(a)
 b = input("Enter a age: ")
 c = input("Enter a shoe size: ")
 d[a] = (b,c)
print(name)
e = str(input("Enter the name of one of the people in the list: "))
print(d[e][0])

name: jin
age: 22
shoe size: 170
['jin']
name: jin
22

In [33]:
# 104
name = []
d = {}
for i in range(4):
 a = input("Enter the name: ")
 name.append(a)
 b = input("Enter a age: ")
 c = input("Enter a shoe size: ")
 d[a] = (b,c)
print(name)
e = str(input("Enter the name of the person you want to remove: "))
del d[e]
for i in d:
  print(i)

name: jin
age: 22
shoe size: 12
name: min
age: 22
shoe size: 13
name: dom
age: 33
shoe size: 145
['jin', 'min', 'dom']
name: jin
min
dom