<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 251

In [ ]:
# 252
class Human:
  pass

In [ ]:
# 253
class Human:
  pass
areum = Human()

In [ ]:
# 254
class Human:
  print("응애응애")
areum = Human()

응애응애

In [ ]:
# 255
class Human:
  def __init__(self, 이름, 나이, 성별):
      self.이름 = 이름
      self.나이 = 나이
      self.성별 = 성별
areum = Human("아름", 25, "여자")
print(areum.이름)

아름

In [ ]:
# 256
class Human:
  def __init__(self, 이름, 나이, 성별):
      self.이름 = 이름
      self.나이 = 나이
      self.성별 = 성별
areum = Human("조아름", 25, "여자")
print("이름: ", areum.이름,",", "나이: ", areum.나이,",", "성별: ", areum.성별)

이름:  조아름 , 나이:  25 , 성별:  여자

In [ ]:
# 257
class Human:
  def __init__(self, 이름, 나이, 성별):
      self.이름 = 이름
      self.나이 = 나이
      self.성별 = 성별
  def who(self):
    print("이름: ", self.이름,",", "나이: ", self.나이,",", "성별: ", self.성별)

areum = Human("조아름", 25, "여자")
areum.who()

이름:  조아름 , 나이:  25 , 성별:  여자

In [1]:
# 258
class Human:
  def __init__(self, 이름, 나이, 성별):
      self.이름 = 이름
      self.나이 = 나이
      self.성별 = 성별
  def who(self):
    print("이름: {} 나이: {} 성별: {}".format(self.이름, self.나이, self.성별))
  def setinfo(self,이름, 나이, 성별):
      self.이름 = 이름
      self.나이 = 나이
      self.성별 = 성별

areum = Human("모름", 0, "모름")
areum.who()
areum.setinfo("아름", 25, "여자")
areum.who()

이름: 모름 나이: 0 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [ ]:
# 259
class Human:
  def __init__(self, 이름, 나이, 성별):
      self.이름 = 이름
      self.나이 = 나이
      self.성별 = 성별
  def who(self):
    print("이름: ", self.이름,",", "나이: ", self.나이,",", "성별: ", self.성별)
  def __del__(self):
    print("나의 죽음을 알리지 말라")

areum = Human("조아름", 25, "여자")
del areum

나의 죽음을 알리지 말라

In [2]:
# 260
class OMG :
    def print(self) :
        print("Oh my god")

myStock = OMG()
myStock.print()

Oh my god

In [ ]:
# 261
class Stock:
  pass

In [ ]:
# 262
class stock:
  def __init__(self, 종목명, 종목코드):
      self.종목명 = 종목명
      self.종목코드 = 종목코드

삼성 = stock("삼성전자", "005930")
삼성.종목명

'삼성전자'

In [ ]:
# 263
class stock:
  def __init__(self, 종목명, 종목코드):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
  def set_name(self, 종목명):
      self.종목명 = 종목명

a = stock(None,None)
a.set_name("삼성전자")
a.종목명

'삼성전자'

In [ ]:
# 264
class stock:
  def __init__(self, 종목명, 종목코드):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
  def set_name(self, 종목명):
      self.종목명 = 종목명
  def set_code(self, 종목코드):
      self.종목코드 = 종목코드

a = stock(None,None)
a.set_code("005930")
a.종목코드

'005930'

In [ ]:
# 265
class stock:
  def __init__(self, 종목명, 종목코드):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
  def set_name(self, 종목명):
      self.종목명 = 종목명
  def set_code(self, 종목코드):
      self.종목코드 = 종목코드
  def get_name(self, 종목명):
      return self.set_name

삼성 = stock(None,None)
삼성.get_name("삼성전자")
삼성.종목명

In [ ]:
# 266
class stock:
  def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
      self.per = per
      self.pbr = pbr
      self.배당수익률 = 배당수익률
  def set_name(self, 종목명):
      self.종목명 = 종목명
  def set_code(self, 종목코드):
      self.종목코드 = 종목코드

In [ ]:
# 267
class stock:
  def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
      self.per = per
      self.pbr = pbr
      self.배당수익률 = 배당수익률
  def set_name(self, 종목명):
      self.종목명 = 종목명
  def set_code(self, 종목코드):
      self.종목코드 = 종목코드

a = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
a.per

15.79

In [ ]:
# 268
class stock:
  def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
      self.per = per
      self.pbr = pbr
      self.배당수익률 = 배당수익률
  def set_per(self, per):
      self.per = per
  def set_pbr(self, pbr):
      self.pbr = pbr
  def set_dividend(self, 배당수익률):
      self.배당수익률 = 배당수익률
a = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
a.per

5.55

In [ ]:
# 269
class stock:
  def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
      self.per = per
      self.pbr = pbr
      self.배당수익률 = 배당수익률
  def set_per(self, per):
      self.per = per
  def set_pbr(self, pbr):
      self.pbr = pbr
  def set_dividend(self, 배당수익률):
      self.배당수익률 = 배당수익률
a = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
a.set_per(12.75)
a.per

12.75

In [ ]:
# 270
class stock:
  def __init__(self, 종목명, 종목코드, per, pbr, 배당수익률):
      self.종목명 = 종목명
      self.종목코드 = 종목코드
      self.per = per
      self.pbr = pbr
      self.배당수익률 = 배당수익률
  def set_per(self, per):
      self.per = per
  def set_pbr(self, pbr):
      self.pbr = pbr
  def set_dividend(self, 배당수익률):
      self.배당수익률 = 배당수익률
a = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
b = stock("현대차", "005380", 8.70, 0.35, 4.27)
c = stock("LG전자", "006570", 317.34, 0.69, 1.37)
d = [a, b, c]
for i in d:
  print(i.종목코드, i.per)

005930 15.79
005380 8.7
006570 317.34