<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 035
a = input("Enter your name: ")
for i in range(3):
  print(a)

Enter your name: jinseok
jinseok
jinseok
jinseok

In [9]:
# 036
a = input("Enter your name: ")
b = int(input("Enter a number: "))
for i in range(b):
  print(a)

Enter your name: jin
Enter a number: 5
jin
jin
jin
jin
jin

In [10]:
# 037
a = input("Enter your name: ")
for i in a:
  print(i)

Enter your name: jin
j
i
n

In [15]:
# 038
a = input("Enter your name: ")
b = int(input("Enter a number: "))
for i in a:
  print(i * b)

Enter your name: jin
Enter a number: 5
jjjjj
iiiii
nnnnn

In [16]:
# 039
a = input("Enter a number between 1 - 12: ")
print(a)

Enter a number btween 1 - 12: 11
11

In [18]:
# 040
a = int(input("Enter a number below 50: "))
for i in range(50, a-1, -1):
  print(i)

Enter a number below 50: 40
50
49
48
47
46
45
44
43
42
41
40

In [22]:
# 041
a = input("Enter your name: ")
b = int(input("Enter a number: "))
if b < 10:
  print(a * b)
else:
  print("Too high " * 3)

Enter your name: jin
Enter a number: 11
Too high Too high Too high

In [27]:
# 042
sum = 0
a = int(input("Enter a number1: "))
b = input("Are you want includ number? y/n:")
if b == "y":
  sum += a
a = int(input("Enter a number2: "))
b = input("Are you want includ number? y/n:")
if b == "y":
  sum += a
a = int(input("Enter a number3: "))
b = input("Are you want includ number? y/n:")
if b == "y":
  sum += a
a = int(input("Enter a number4: "))
b = input("Are you want includ number? y/n:")
if b == "y":
  sum += a
a = int(input("Enter a number5: "))
b = input("Are you want includ number? y/n:")
if b == "y":
  sum += a  
print(sum)

Enter a number1: 11
Are you want includ number? y/n:y
Enter a number2: 11
Are you want includ number? y/n:n
Enter a number3: 11
Are you want includ number? y/n:y
Enter a number4: 11
Are you want includ number? y/n:y
Enter a number5: 11
Are you want includ number? y/n:n
33

In [34]:
# 043
a = input("up or down?: ")
if a == "up":
  b = int(input("Enter a number:"))
  for i in range(1, b+1, 1):
    print(i)
elif a == "down":
   c = int(input("Enter a number below 20:"))
   for j in range(20, c-1, -1):
     print(j)
else:
  print("i don't understand.")

up or down?: down
Enter a number below 20:17
20
19
18
17

In [36]:
# 044
a = int(input("How many plople invite to party? :"))
if a < 10:
  for i in range(a):
   b = input("Enter name : ")
   print(b, "has been invited.")
else:
  print("Too many people")

How many plople invite to party? :3
Enter name : jin
jin has been invited.
Enter name : don
don has been invited.
Enter name : ren
ren has been invited.