<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 20
a = input("Enter your name: ")
print(len(a))

Enter your name: jinseok
7

In [24]:
# 21
a = input("Enter your first name: ")
b = input("Enter your surname: ")
c = a + " " + b
print(c, len(c)-1)

Enter your first name: jin
Enter your surname: park
jin park 7

In [25]:
# 22
a = input("Enter your first name: ")
b = input("Enter your surname: ")
a.lower()
b.lower()
result = a.title() + b
print(result)

Enter your first name: jin
Enter your surname: park
Jinpark

In [32]:
# 23
a = input("Enter frist line of nursery rhyme: ")
print(len(a))
b = int(input("Enter start number: "))
c = int(input("Enter end number: "))
print(a[b-1 : c])

Enter frist line of nursery rhyme: 엄마가섬그늘에
7
Enter start number: 2
Enter end number: 5
마가섬그

In [14]:
# 24
a = input("type any work: ")
b = a.upper()
print(b)

type any work: home
HOME

In [16]:
# 25
a = input("Enter your first name: ")
if len(a) < 5:
 b = input("Enter your surname: ")
 c = a + b
 print(c.upper())
else:
 print(a.lower())

Enter your first name: jinseok
jinseok

In [55]:
# 26
a = input("Enter word: ")
b = ["a", "e", "i", "o", "u"]
if a[0] in b:
  c = a + "way"
  print(c)
else:
  d = a + a[0]+"ay"
  print(d[1:])

Enter word: aals
aalsway