<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/Homework11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
a = 4
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  a = a - 1
  print(a, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
a = 90
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
   a = a + 10
   print(a, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
# 175
a = 0
my_list = ["가", "나", "다", "라"]
for i in range(0, 3):
  a = a + 1
  print(my_list[i], my_list[a])

가 나
나 다
다 라

In [ ]:
# 176
a = 0
b = 0
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
  a = a + 1
  b = a + 1
  print(my_list[i], my_list[a], my_list[b])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177
a = 0
b = 0
my_list = ["가", "나", "다", "라"]
for i in range(3):
  a = a - 1
  b = a - 1
  print(my_list[a], my_list[b])

라 다
다 나
나 가

In [ ]:
# 178
a = 0
my_list = [100, 200, 400, 800]
for i in range(3):
  a = a + 1
  print(my_list[a] - my_list[i])

100
200
400

In [ ]:
# 179
a = 0
b = 0
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
  a = a + 1
  b = a + 1
  c = (my_list[i] + my_list[a] + my_list[b]) / 3
  print(c)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(5):
  volatility = high_prices[i] - low_prices[i]
  print(volatility)

50
100
30
80
0

In [ ]:
# 181
a = ["101호", "102호"]
b = ["201호", "202호"]
c = ["301호", "302호"]
apart = [a, b, c]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
# 182
시가 = [100, 200, 300]
종가 = [80, 210, 330]
stock = [시가, 종가]
print(stock)

[[100, 200, 300], [80, 210, 330]]

In [ ]:
# 183
stock = {'시가': [100, 200, 300], '종가': [80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
# 184
stock = {"10/10": [80, 110, 70 ,90], "10/11":[210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
# 185

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
   print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
  for j in i:
    print(j, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
  for j in i[::-1]:
    print(j, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
   print(j, "호")
   print("-----", end = "")

101 호
----- 102 호
----- 201 호
----- 202 호
----- 301 호
----- 302 호
-----

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
   print(j, "호")
  print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
   print(j, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----