<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/PythonClass_Homework_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for price in price_list :
  print(price)

32100
32150
32000
32500

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
   print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
   print(len(price_list)-(i+1), price_list[i])     # ??

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
price_list = [32100, 32150, 32000, 32500]   

# 아래와 같이 리스트의 데이터를 출력하라. 단, for 문과 range 문을 사용하라
# 100  32150
# 110  32000
# 120  32500

for i in range(1,4):
  print(100+i*10,price_list[i])

110 32150
120 32000
130 32500

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1) :
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2) :
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1) :
  print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [ ]:
# 178
my_list = [100, 200, 400, 800]

for i in range(int(len(my_list)-1)) :
  print(int(my_list[i+1])-int(my_list[i]))

100
200
400

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2) :
  print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180 -1
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = [0,0,0,0,0]

for i in range(5) :
  volatility[i] = high_prices[i] - low_prices[i]
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 180 -2
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)) :
  volatility.insert(i, (high_prices[i] - low_prices[i]))

print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 181    이차원 리스트
floor1 = ["101호", "102호"]
floor2 = ["201호", "202호"]
floor3 = ["301호", "302호"]

apart = [floor1, floor2, floor3]

print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
# 182

opening_prices = [100,200,300]
closing_prices = [80,210,330]

stock = [opening_prices,closing_prices]

print(stock)

[[100, 200, 300], [80, 210, 330]]

In [ ]:
# 183

opening_prices = [100, 200, 300]
closing_prices = [80, 210, 330]

stock = {"opening_prices":opening_prices, "closing_prices":closing_prices}

print(stock)

{'opening_prices': [100, 200, 300], 'closing_prices': [80, 210, 330]}

In [ ]:
# 184

stock = {"10/10":[80, 110, 70, 90], "10/11":[210, 230, 190,200]}

In [ ]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart :
  for num in floor :
    print(num, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart[::-1] :
  for num in floor :
    print(num, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart[::-1] :
  for num in floor[::-1] :
    print(num, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart :
  for num in floor :
    print(num, "호")
    print("- - - - ", end = "")

101 호
- - - - 102 호
- - - - 201 호
- - - - 202 호
- - - - 301 호
- - - - 302 호
- - - -

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart :
  for num in floor :
    print(num, "호")
  print("- - - - ")

101 호
102 호
- - - -
201 호
202 호
- - - -
301 호
302 호
- - - -

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart :
  for num in floor :
    print(num, "호")
print("- - - - ")

101 호
102 호
201 호
202 호
301 호
302 호
- - - -