<a href="https://colab.research.google.com/github/corydoras15/python-class/blob/main/PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문 

if문
- 조건을 판단하여 참열 경우와 거짓말 경우의 실행이 달라지게 흐름을 구성할 수 있다.
-if 조건식:
 - 조건이 참일 경우
-else:
  - 조건이 거짓일 경우

  만약에 가진 돈이 있으면 택시를 타고 만약 없으면 걸어가는 상황을 코드로 표현해보자.
 
  - if 돈이 있으면 
   print("택시를 타자")
  -else
   print("걸어 가자")
   
#if조건식1:
  조건1이 참일 경우
elif조건식2:
 조건2가 참일 경우
else:
조건이 거짓일 경우

In [9]:
money = True

if money == True:
    print("택시를 타자")
else:
    print("걸어 가자")

택시를 타자

In [2]:
money = 500

if money >= 5000:
    print("택시를 타자")
elif money >= 1000:
    print("버스를 타자")
else:
    print("걸어 가자")

걸어 가자

In [3]:
# 학생의 성적을 입력 받아서 
#점수가 90 이상이면 'A학점 입니다.'
#점수가 80 이상이면 'B학점 입니다.'
#점수가 70 이상이면 'C학점 입니다.'
#점수가 60 이상이면 'D학점 입니다.'
#나머지는 모두 "F학점입니다."

score = 90

if score >= 90:
    print("A학점 입니다.")
elif score >= 80:
    print("B학점 입니다.")
elif score >= 70:
    print("C학점 입니다.")
elif score >= 60:
    print("D학점 입니다.")
else:
    print("F학점 입니다.")

A학점 입니다.

# 반복문 while, for

파이썬에서의 반복문의 while for 두가지로 사용할 수 있다.
while로 구현할 수 있는 모든 반복문은 for로도 구현할 수 있고 그 반대의 경우에도 100% 가능하다.

하지만 while은 반복 횟수가 정확하지 않을 경우 주로 사용되고 for문은 반복횟수가 명확할 때 주로 사용된다.

- while 조건:
 - 조건을 만족할 경우 수행할 구문

In [4]:
# while

no = 10

while no >= 0:
    print(no)
    no = no - 1

10
9
8
7
6
5
4
3
2
1
0

아래와 같은 경우 5 종료를 선택할 때 까지 반복 횟수가 정확하지 않

In [5]:
prompt = "1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료"
no = 0

while no <= 4:
    print(prompt)
    no = int(input())

1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료
5

while 문의 경우에는 반복 횟수가 정확하지 않을 경우가 많기 때문에 조건에서 뿐만이 아니라 중간에 반복을 종료 시키는 방법도 필요하다.

In [6]:
no = 0

while no <= 10:
    print(no)
    no = no + 1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
no = 0

while True:
    print(no)
    no = no + 1
    
    if no > 10:
        break

0
1
2
3
4
5
6
7
8
9
10

while 문을 사용하여 1부터 100까지의 수 중 3의 배수만의 합을 구하시오.

In [13]:
no = 1
sum = 0

while True:
    if no % 3 == 0:
        sum = sum + no
        no = no + 3
    else:
        no = no + 1
        
    if no > 100:
        break
        
print(sum)

1683

In [12]:
no = 1
sum = 0

while no <= 100:
    if no % 3 == 0:
        sum = sum + no
        
    no = no + 1 # no += 1    java no++:
    
print(sum)

1683

 # For문
 
 while은 반복 횟수가 정확하지 않을 경우 주로 사용되고 for문은 반복횟수가 명확할 때 주로 사용된다.

 for 변수명 in 리스트()
     수행구문

In [14]:
# for 구문

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
math = [80, 90, 70, 70, 100]

j = 1
for i in math:
  
  if i >= 90:
    print(j, "번째 학생은 합격입니다.")
  else:
    print(j, "번째 학생은 불합격입니다.")  
  j += 1

1 번째 학생은 불합격입니다.
2 번째 학생은 합격입니다.
3 번째 학생은 불합격입니다.
4 번째 학생은 불합격입니다.
5 번째 학생은 합격입니다.

In [21]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i % 2 == 0:
     print(i)

2
4
6
8
10

In [30]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i % 2 == 0:
     continue

print(i)

10

In [51]:
# range 함수

#숫자를 자동으로 생성해준다. for문과 함께 사용되는 경우가 아주 많다.

for i in range(1,11):  #두번째 수는 미만
  print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
# for문 으로 구구단 출력하기

for i in range(2,10):  # i는 단을 표현
    for j in range(1,10):
      print(i, "*",j, "=", i*j, end="\t")
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [46]:
for i in range(1,10):
    for j in range(2,10):
    
      print(j, "*",i, "=", i*j, end="\t")
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [57]:
# range를 사용하여 100이하의 수중 짝수들만의 합계를 구하세요
sum = 0

for i in range(1,101):
  if i % 2 == 0:
    sum += i
    
print(sum)

# range(start, stop, step)

# for i in range(11):  # start를 생략하면 0에서 시작
#     print(i)

for i in range(0,11,2):   # stop 을 생략하면 1씩 증가
    print(i)

2550
0
2
4
6
8
10

In [63]:
# 리스트 축약/내포 List Comprehension
# 라스트를 좀더 편리하고 직관적으로 만드는 방법이다.

list1 = [1,2,3,4]
print(list1)

list2 = [a for a in list1]
print(list2)

list3 = [num*2 for num in list1]
print(list3)

list4 = [num for num in list1 if num % 2 == 0]
print(list4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 4, 6, 8]
[2, 4]

In [69]:
no = 70

if no >= 70:
  print("합격입니다.")
else:
   print("불합격입니다.") 

print("합격입니다." if no >=80 else "불합격입니다.")

합격입니다.
불합격입니다.